@charset "UTF-8";
a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

/* Отменяем подчеркивание при наведении у ссылки */
li,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*--Header---------------------------------------*/
.logo__colour {
  color: #000000;
}

.page__header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding: 16px 0;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .page__header-logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .page__header-logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.site-nav,
.auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav,
  .auth-nav {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav,
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 294px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav,
.page__header-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .main-nav,
  .page__header-space {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .nav-mailo {
    margin-right: 30px;
  }
}

.site-nav .current,
.page__header a:hover,
.page__header a:focus {
  color: #2196f3;
}

.item {
  position: relative;
}

.current::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .current::after {
    top: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .current::after {
    top: 47px;
  }
}

.page__header-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .page__header-nav {
    font-size: 12px;
    line-height: 1.17;
  }
}

.nav-mailo,
.nav-tel {
  color: #757575;
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .icon-mail,
  .icon-tel {
    margin-right: 8px;
  }
}

/* Portfolio ----------------------------*/
.button-work {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button-li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 8px;
  margin-bottom: 15px;
}

.button-but {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .button-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 34px;
  }
}

.our__works-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our__works-button:hover, .our__works-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--Hero-----------------------------------------*/
.hero {
  width: 100%;
  background: #2f303a;
  text-align: center;
  padding: 118px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@1x-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@1x-480.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@2x-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x-480.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@1x-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@1x-768.jpg);
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@2x-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x-768.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 452px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@1x-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@1x-1600.jpg);
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@2x-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x-1600.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__button {
    cursor: pointer;
  }
}

/* MODAL--------------------*/
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  opacity: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 480px;
  height: 796px;
}

@media screen and (min-width: 768px) {
  .backdrop {
    width: 768px;
    height: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    width: 1600px;
    height: 1024px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button-close {
  display: block;
  position: absolute;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover {
  fill: #2196f3;
}

.modal__icon-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 9px;
  left: 9px;
  cursor: pointer;
}

.modal__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 40px;
  padding-bottom: 0;
  color: #212121;
}

.form {
  padding: 12px 40px;
  padding-bottom: 0;
}

.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.label input {
  position: relative;
  width: 100%;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: contain;
  bottom: 13px;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label input:focus {
  outline: none;
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.label:focus-within .icon-form {
  fill: #2196f3;
}

.comment {
  width: 370px;
  height: 120px;
  padding-bottom: 0;
  padding: 12px 16px;
}

.comment:focus {
  outline: none;
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .comment {
    width: 448px;
    height: 138px;
  }
}

.comment {
  resize: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(117, 117, 117, 0.5);
}

.chec-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .chec-label {
    width: 423px;
  }
}

.chec-tex {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .chec-tex {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .check-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
}

.icon-checkbox::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  content: '';
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.checkbox:checked + .icon-checkbox::before {
  background-image: url(../images/Vector.svg);
  background-origin: border-box;
  background-position: center;
  background-size: contain;
  background-color: #2196f3;
  background-repeat: no-repeat;
  border: transparent;
}

.form-button {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  padding: 0;
  margin-top: 30px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Our qualities -----------------------------------*/
.our__qualities {
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our__qualities {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our__qualities {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.our__item-text {
  color: #212121;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .our__item-text {
    text-align: start;
  }
}

.our__item-description {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  text-align: start;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .our__qualities-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .our__qualities-flex {
    margin: -15px;
  }
}

.our__item {
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.our__item-icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  padding: 25px 0;
}

@media screen and (min-width: 768px) {
  .our__item-icon {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .our__item-icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
  }
}

/* Affair ------------------------------------*/
.affair {
  display: none;
}

@media screen and (min-width: 1200px) {
  .affair {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.affair-heading {
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
}

@media screen and (min-width: 1200px) {
  .affair-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .affair-foto,
  .team__foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.affair-decorate {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .affair-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 370px;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 4px;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 1200px) {
  .affair-text {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

/* Team ---------------------------------*/
.team {
  background: #f5f4fa;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.team__foto-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.team-heading {
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-heading {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}

.team__foto-skill {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__foto-center {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 2 * 15px) / 1);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .team__foto-center {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__foto-center {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.team__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .team__foto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__foto-padding {
  padding: 30px 0;
}

.icon-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-touch:hover, .icon-touch:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.icon-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-always {
  fill: currentColor;
}

.icon-touch:not(:last-child) {
  margin-right: 10px;
}

/* Clients ----------------------------*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients__center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients__wrap {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__wrap {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__wrap {
    width: 170px;
  }
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__icon:hover, .clients__icon:focus {
  fill: #2196f3;
  border: solid 1px #2196f3;
}

/* Footer ----------------------------*/
.footer {
  background: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__nav {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__nav {
    text-align: left;
  }
}

.footer__logo-colour {
  color: #ffffff;
}

.footer__logo {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.footer__logo-contacts {
  margin-top: 20px;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__mailo,
.footer__tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.com {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  margin: 0;
}

.footer__com {
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__com {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 206px;
    margin: 0;
    padding: 0;
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.teme {
  background: rgba(255, 255, 255, 0.1);
}

.footer__pole {
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer__pole {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__pole {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 570px;
    margin: 0;
    margin-left: 93px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.footer__label-input {
  height: 50px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .footer__label-input {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer__label-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__label-input {
    width: 358px;
  }
}

.footer__label-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  background: #2f303a;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

@media screen and (min-width: 1200px) {
  .footer__button {
    margin: inherit;
    margin-left: 12px;
    cursor: pointer;
  }
}

.footer__button-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  margin: 10px 29px;
  margin-right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
}

.footer__button-icon {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 57%;
  right: 28px;
  fill: #ffffff;
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fooret__marg {
  margin-top: 9px;
}
/*# sourceMappingURL=main.css.map */