:root {
  --primeri-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --accent-white: #ffffff;
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
} /* Отменяем подчеркивание при наведении у ссылки */

li,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* Убираем маркеры */
}

img {
  display: block;
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--accent-white);
  color: var(--primeri-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/*--Header---------------------------------------*/

.site-nav,
.auth-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.page__heater-logo {
  padding-right: 93px;
}
.main-nav,
.page__heater-space {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .item:not(:last-child) {
  margin-right: 30px;
}

.page__heater-address {
  margin-left: auto;
}

.page__heater-logo,
.footer__logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__colour {
  color: #000000;
}

.site-nav .current,
.page__heater a:hover,
.page__heater a:focus {
  color: var(--accent-color);
}

.item {
  position: relative;
}

.current::after {
  content: '';
  display: flex;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 47px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page__heater-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mailo,
.nav-tel,
.page__heater-nav {
  color: var(--title-text-color);
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}


/*--Hero-----------------------------------------*/

.hero,
.footer {
  background: #2f303a;
  /* outline: 2px solid tomato; */
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-fone.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-white);
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--accent-white);
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* MODAL--------------------*/

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 1600px;
  height: 1024px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background-color: var(--accent-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
}

.modal__button-close {
  display: block;
  position: absolute;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--primeri-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover {
  fill: var(--accent-color);
}

.modal__icon-close {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 9px;
  left: 9px;
  cursor: pointer;
}

.modal__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 40px;
  padding-bottom: 0;
  color: var(--primeri-text-color);
}

.form {
  padding: 12px 40px;
  padding-bottom: 0;
}

.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  padding-bottom: 4px;
}

.label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.label input {
  position: relative;
  width: 100%;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  position: absolute;
  display: inline-flex;
  background-size: contain;
  bottom: 13px;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label input:focus,
.comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.label:focus-within .icon-form {
  fill: var(--accent-color);
}

.comment {
  width: 448px;
  height: 138px;
  padding-bottom: 0;
}

.comment {
  resize: none;
  height: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  color: rgba(117, 117, 117, 0.5);
}

.chec-label {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  width: 423px;
}

.chec-tex {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.check-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox {
  /* appearance: none; */
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
}

.icon-checkbox::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  content: '';
  border: 2px solid var(--primeri-text-color);
  border-radius: 2px;
  transition: transform 250ms linear;
}

.checkbox:checked + .icon-checkbox::before {
  background-image: url(../images/Vector.svg);
  background-origin: border-box;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  border: transparent;
}

.form-button {
  width: 200px;
  height: 50px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--accent-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 30px;
}

/* Our qualities -----------------------------------*/

.our__qualities {
  /* outline: 2px solid tomato; */
  padding-top: 94px;
}

.our__item-text {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
}

.our__item-description {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}

.our__qualities-flex {
  display: flex;
  justify-content: space-between;
}
.our__qualities-flex .our__item {
  width: 270px;
}

.our__qualities-flex .our__item:not(:last-child),
.team__foto .team__foto-center:not(:last-child),
.affair-decorate:not(:last-child) {
  margin-right: 30px;
}

.our__item {
  color: #000000;
}

.our__item-icon {
  display: inline-flex;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Affair ------------------------------------*/

.affair-heading,
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primeri-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.affair-foto,
.team__foto {
  display: flex;
  justify-content: space-between;
}
.affair {
  padding-top: 94px;
  padding-bottom: 94px;
}

.affair-decorate {
  position: relative;
}

.affair-block {
  display: flex;
  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.affair-text {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Team ---------------------------------*/

.team {
  background: #f5f4fa;
}

.team__foto-name {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
}

.team__foto-skill {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__foto-center {
  background-color: var(--accent-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.icon-touch {
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-line {
  display: flex;
}

.icon-touch:hover,
.icon-touch:focus {
  background-color: var(--accent-color);
  color: var(--accent-white);
}

.icon-always {
  fill: currentColor;
}

.icon-touch:not(:last-child) {
  margin-right: 10px;
}

.team__foto-padding {
  padding: 30px 32px;
}

/* Clients ----------------------------*/

.clients {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  color: #212121;
}

.clients h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.clients__center {
  display: flex;
  justify-content: space-between;
}

.clients__icon {
  display: inline-flex;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover,
.clients__icon:focus {
  fill: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.clients__icon:not(:last-child) {
  margin-right: 30px;
}

.clients__icon-marg {
  margin: auto;
}

/* Footer ----------------------------*/

.footer__logo-colour {
  color: var(--accent-white);
}

.footer .footer__logo {
  display: flex;

  margin-bottom: 0px;
}

.footer__logo-contacts {
  margin-top: 20px;  
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer .fooret__marg:not(:last-child) {
  margin-bottom: 9px;
}

.footer__mailo,
.footer__tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-white);
}

.com {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-white);
  padding-bottom: 20px;
  margin: 0;
}

.footer__com {
  display: inline-flex;

  width: 206px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-left: 70px;
}

.footer__center {
  display: flex;
  align-items: baseline;
}

.teme {
  background: rgba(255, 255, 255, 0.1);
}

.footer__pole {
  display: inline-flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 0;
  margin-left: 93px;
  padding: 0;
}

.footer__label {
  display: inline-flex;
}

.footer__label-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__label-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  background: #2f303a;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer__button-text {
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.06em;

  margin: 10px 29px;
  margin-right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  color: var(--accent-white);
}

.footer__button-icon {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 57%;
  right: 28px;
  fill: var(--accent-white);

  background-size: contain;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio ----------------------------*/

.border-line {
  border-bottom: 1px solid #ececec;
}

.our__works-button:hover,
.our__works-button:focus {
  color: var(--accent-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-work {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portholio {
  display: flex;
  flex-wrap: wrap;
}

.portholio-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: var(--primeri-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.portholio-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0;
}



.button-but {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.button-but .button-li:not(:last-child) {
  margin-right: 8px;
}

.our__works-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our__works {
  padding-top: 94px;
  padding-bottom: 94px;
}



.portholio-foto {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--accent-white);

}

.portholio-foto:nth-child(3n) {
  margin-right: 0px;
}

.portholio-foto:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portholio-block {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.how {
  display: block;
  box-shadow: 0px 1px 1px rgb(255, 255, 255), 0px 4px 4px rgb(255, 255, 255),
    1px 4px 6px rgb(255, 255, 255);
}

.how:hover,
.how:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-lid {
  display: flex;
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-white);
  margin: 0;
  padding: 63px 24px;
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how:hover .overlay {
  transform: translateY(0);
}
