/* Clients ----------------------------*/

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $primeri-text-color;

  @media screen and (min-width: 1200px) {
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-heading {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;

    margin-bottom: 50px;
  }
}

.clients__center {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.clients__wrap {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  display: flex;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border $cubic-bezier, fill $cubic-bezier;

  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    fill: $accent-color;
    border: solid 1px $accent-color;
  }
}

// .clients__icon:not(:last-child) {
//   margin-right: 30px;
// }
