.page__heater {
  border-bottom: 1px solid #ececec;
}

.portholio {
  margin-top: 25px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.portholio-heading {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: bold;
  color: $primeri-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.portholio-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin: 0;
}

.our__works {
  padding-top: 60px;
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portholio-foto {
  margin-bottom: 30px;
  background-color: $accent-white;
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

// .portholio-foto:nth-child(3n) {
//   margin-right: 0px;
// }

// .portholio-foto:nth-last-child(-n + 3) {
//   margin-bottom: 0px;
// }

.portholio-block {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  // border-top: 0;
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.how {
  // display: block;
  box-shadow: 0px 1px 1px rgb(255, 255, 255), 0px 4px 4px rgb(255, 255, 255),
    1px 4px 6px rgb(255, 255, 255);
}

.how:hover,
.how:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-lid {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $accent-white;
  margin: 0;
  padding: 77px 24px;
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $cubic-bezier;

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}

.how:hover .overlay {
  transform: translateY(0);
}
